* {
  font-family: "Inter", sans-serif;
}

.header {
  padding: 16px 24px;
    background: #ffffff00;
    color: white;
    border-bottom: 1px solid #ededed;
    backdrop-filter: blur(8px);
    position: fixed;
    z-index: 999;
    width: 100vw;
    top: 0px;

}

.header--logomenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}


.logo {
  max-width: 3.4rem;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: #261F22;
  text-decoration: none;
  font-size: 18px;
  padding: 4px 16px;
  border-radius: 7px;
  transition: all 0.3s;
}

.nav a:hover {
  background-color: #ebeef4;

}

.nav a.active {
  background-color: #ffffff;
  color: #261F22;
}

/* Burger */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;
  background: #261F22;
}

/* Mobile */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .nav {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    background: #111;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 0;
  }

  .nav.open {
    display: flex;
  }
}
