p {
    color: #fff;
    font-size: 20px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.section-inner {
  height: 100%;
  display: flex;
  margin: 0 auto;
}

 .section-inner {
  height: auto;
  width: 100vw;
}

.image {
  width: 400px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-top: 2.5rem;
  border-radius: 8px;
}

.section h1 {
  font-size: 30px;
  color: #fff;
  margin-right: 10px;
}
