p {
    color: #fff;
    font-size: 20px;
}

.slides-wrapper {

}

.section {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: -600px;
}

.section-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .section-inner {
  height: auto;
  padding-bottom: 5vh;
  width: 100vw;
}

.image {
  width: 400px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-top: 2.5rem;
  border-radius: 8px;
}

.section h1 {
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
}
