@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to bottom, #9ab6a4, #1d492c);
}

.main-width {
  max-width: 1280px;
  margin: 0 auto;
}

#root {
    padding-top: 140px;
}


